.container {
  background-color: #eaf4ff;
  padding-bottom: 1rem;
}

.subContainer {
  margin: 0px 30px 20px 270px;
  height: 100%;
}

.button {
  background-color: #fd8473;
  padding: 0.5rem 2rem;
  font-weight: 700;
  border: none;
  border-radius: 1rem;
}
