.Header {
  width: auto;
  height: 9.5rem;
  background-color: #fd8473;
}
.HeaderContainer {
  margin-left: 270px;
}
.HeaderHeading {
  color: #002154;
  font-size: 1.3rem;
  padding-top: 12px;
  margin-left: 2px;
}
.HeaderSubHeading {
  color: #f5fafd;
  margin-left: 2px;
}
.HeaderSearchIcon {
  display: flex;
  margin-top: 0px;
  align-items: center;
  border-radius: 10px;
  width: 3rem;
  height: 2.5rem;
  background-color: #002154;
  color: white;
}
.HeaderDatePicker {
  margin-left: auto;
  margin-right: 4rem;
  margin-top: 8px;
}

.dateArrowIcon {
  background-color: transparent;
  border: none;
}
