.container {
  background-color: #eaf4ff;
  height: 100vh;
}

.subContainer {
  margin: 0px 30px 20px 270px;
  height: 100%;
}

.button {
  background-color: #fd8473;
  padding: 0.5rem 2rem;
  font-weight: 700;
  border: none;
  border-radius: 0.5rem;
  margin: 0rem 1rem;
}
.topHead {
  font-size: 1.1rem;
  font-weight: 400;
  margin-right: 0.25rem;
  padding-left: 0.25rem;
}
.uploadImageLabel {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  width: 140px;
  background-color: #fefeff;
  box-shadow: 5px #707070;
  margin: 10px 10px 0px 0px;
}
.uploadImageRemoveBtn {
  color: #707070;
  margin: 0px;
  padding: 0px;
  border: none;
  text-shadow: none;
  background: none;
  position: absolute;
  top: 10px;
  right: 0px;
  font-weight: 700;
}
.uploadImage {
  display: none;
}
.uploadImageContainer {
  position: relative;
  margin-right: 1rem;
  width: 140px;
}
